{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Base  </title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <div id="header">
        <a href="/" class="logo">Pc Shop</a>
    </div>

    

</head>
<div id="subheader">
    <div class="cart">
        {% with total_items=cart|length %}
        {% if cart|length > 0 %}
        Korzinkada:
        <a href="{% url 'cart:cart_detail' %}">
            {{ total_items }} shtuk , ${{ cart.get_total_price }}
        </a> 
        {% else %}
        korzinka bos
        {% endif %}
        {% endwith %}

    </div>
</div>
    <div id="content">
        {% block content %}{% endblock %}
    </div>

</html>